<%= form_with model: item, id: dom_id(item, "form"),class: "table min-w-full" do |form| %>
  <div>
    <%= form.number_field :quantity, class: "block rounded-md border border-gray-200 outline-none px-3 py-2  w-full" %>
    <%= inline_error_for(:quantity, item) %>
  </div>
  <div>
    <%= form.text_field :description, class: "block rounded-md border border-gray-200 outline-none px-3 py-2  w-full" %>
    <%= inline_error_for(:description, item) %>
  </div>
  <div>
    <%= form.number_field :shelf_price, class: "block rounded-md border border-gray-200 outline-none px-3 py-2  w-full" %>
    <%= inline_error_for(:shelf_price, item) %>
  </div>
  <div>
    <%= form.check_box :imported, class: "block rounded-md border border-gray-200 outline-none px-3 py-2  w-full" %>
    <%= inline_error_for(:imported, item) %>
  </div>
  <div>
    <%= form.collection_select :category_id, @categories, :id, :name, include_blank: true, class: "block rounded-md border border-gray-200 outline-none px-3 py-2  w-full" %>
    <%= inline_error_for(:category_id, item) %>
  </div>
  <div class="hidden">
    <%= form.number_field :invoice_id, value: @@invoice_id, class: "block rounded-md border border-gray-200 outline-none px-3 py-2 w-full" %>
    <%= inline_error_for(:invoice_id, item) %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>